{"http_interactions":[{"request":{"method":"get","uri":"https://api.github.com/users/\u003cGITHUB_LOGIN\u003e/gists?client_id=\u003cGITHUB_CLIENT_ID\u003e\u0026client_secret=\u003cGITHUB_CLIENT_SECRET\u003e\u0026per_page=100\u0026since=2017-09-19","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "X-Ratelimit-Limit":["5000"], "X-Ratelimit-Remaining":["4998"], "X-Ratelimit-Reset":["1507009959"], "Etag":["\"aacc6f617e4d9cd3fbca87b8d3748d98\""], "X-Github-Media-Type":["github.v3; format=json"]},"body":{"encoding":"UTF-8","base64_string":"W10=\n"},"http_version":null},"recorded_at":"Tue, 03 Oct 2017 04:52:43 GMT"}],"recorded_with":"VCR 3.0.3"}